@tailwind base;
@tailwind components;
@tailwind utilities;


/* Minimal dark scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #111 #000;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #111;
  border-radius: 9999px;
  border: 2px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #222;
}
